<ion-view view-title="Edit Book">
	<ion-nav-buttons side="primary">
		<a class="button button-clear" ng-click="goBack()">
    		Cancel
  	</a>
	</ion-nav-buttons>
  <ion-nav-buttons side="secondary">
    <a class="button button-clear button-balanced" ng-click="updateBook()">
      <strong>Done</strong>
    </a>
  </ion-nav-buttons>
	<ion-content class="has-header">
		<div class="list">
		  	<div class="item item-divider">
    			Title
  			</div>
  			<label class="item item-input">
    			<input type="text" ng-model="book.title">
  			</label>
  			<div class="item item-divider">
    			Author
  			</div>
  			<label class="item item-input">
    			<input type="text" ng-model="book.author">
  			</label>
  			<div class="item item-divider">
    			Cover Image
  			</div>
  			<div class="item camera-div">
  				<center>
            <img ng-class="imageToUpload" ng-if="!book.image" ng-src="{{book.coverImageFile._downloadURL}}" width="30%">
            <img ng-class="imageToUpload" ng-if="book.image" ng-src="{{book.image}}" width="30%">
            <br>
  					<span class="icon ion-ios-camera take-photo" ng-click="getPhoto()"></span>
  				</center>
  			</div>
        <div class="item item-divider">
          Pages
        </div>
        <div class="item">
          <a class="button button-clear" ng-repeat="page in pages track by $index" ng-href="#/editpage/{{book._id}}/{{$index}}">
            <img ng-src="{{page.image._downloadURL}}" height="30px" ng-class="">
          </a>
        </div>
        <div class="item less-padding">
    			<a class="button button-clear button-assertive" ng-click="deleteBook()">
      				Delete Book
    			</a>
        </div>
		</div>
	</ion-content>
</ion-view>