<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{book.name}}">
  <div class="bar bar-subheader thumbnail-bar">
    <div class="button-bar">
      <a class="button button-clear">
        <span class="ion-ios-arrow-left"></span>
      </a>
      <a class="button button-clear">
        <img ng-src="http://placehold.it/30x30" height="100%">
      </a>
      <a class="button button-clear">
        <img ng-src="http://placehold.it/30x30" height="100%">
      </a>
      <a class="button button-clear">
        <img ng-src="http://placehold.it/30x30" height="100%">
      </a>
      <a class="button button-clear">
        <img ng-src="http://placehold.it/30x30" height="100%">
      </a>
      <a class="button button-clear">
        <img ng-src="http://placehold.it/30x30" height="100%">
      </a>
      <a class="button button-clear">
        <img ng-src="http://placehold.it/30x30" height="100%">
      </a>
      <a class="button button-clear">
        <img ng-src="http://placehold.it/30x30" height="100%">
      </a>
      <a class="button button-clear">
        <img ng-src="http://placehold.it/30x30" height="100%">
      </a>
      <a class="button button-clear">
        <img ng-src="http://placehold.it/30x30" height="100%">
      </a>
      <a class="button button-clear">
        <span class="ion-ios-arrow-right"></span>
      </a>
    </div>
  </div>
  <ion-nav-buttons side="primary">
    <a class="button button-clear button-light button-icon icon ion-ios-information-outline help-button" ng-href="">
    </a>
    <a class="button button-clear button-light button-icon icon ion-ios-close-empty" ng-href="#/tab/read">
    </a>
  </ion-nav-buttons>
  <ion-content class="padding has-header has-subheader">
    <ion-slide-box on-slide-changed="slideHasChanged($index)">
      <ion-slide>
        <div class="box blue">
          <p>
            Bacon ipsum dolor amet bresaola pork belly meatball, hamburger ground round sausage shank venison pastrami frankfurter jowl. Brisket cupim salami bacon. Shankle cow salami ribeye cupim pork loin sausage tri-tip andouille meatball. Shank ribeye ground round, drumstick flank brisket beef ribs pork picanha pork belly. Boudin strip steak bacon alcatra rump, fatback kevin. Short loin jowl ham corned beef tri-tip bresaola fatback short ribs. Pork chop picanha shank bacon salami turkey drumstick cupim.
          </p>
        </div>
      </ion-slide>
      <ion-slide>
        <div class="box yellow">
          <p>
            Bacon ipsum dolor amet bresaola pork belly meatball, hamburger ground round sausage shank venison pastrami frankfurter jowl. Brisket cupim salami bacon. Shankle cow salami ribeye cupim pork loin sausage tri-tip andouille meatball. Shank ribeye ground round, drumstick flank brisket beef ribs pork picanha pork belly. Boudin strip steak bacon alcatra rump, fatback kevin. Short loin jowl ham corned beef tri-tip bresaola fatback short ribs. Pork chop picanha shank bacon salami turkey drumstick cupim.
          </p>
        </div>
      </ion-slide>
      <ion-slide>
        <div class="box pink">
          <p>
            Bacon ipsum dolor amet bresaola pork belly meatball, hamburger ground round sausage shank venison pastrami frankfurter jowl. Brisket cupim salami bacon. Shankle cow salami ribeye cupim pork loin sausage tri-tip andouille meatball. Shank ribeye ground round, drumstick flank brisket beef ribs pork picanha pork belly. Boudin strip steak bacon alcatra rump, fatback kevin. Short loin jowl ham corned beef tri-tip bresaola fatback short ribs. Pork chop picanha shank bacon salami turkey drumstick cupim.
          </p>
        </div>
      </ion-slide>
    </ion-slide-box>
  </ion-content>
  <div class="bar bar-footer bar-stable player-footer">
    <button class="button button-large button-clear button-dark ion-ios-play play-button" ng-click='speak("you just clicked the play button")'></button>
    <button class="button button-large button-clear button-dark define-button button-icon icon ion-ios-search-strong" ng-click='speak("you just clicked the define button")'></button>
  </div>
</ion-view>
