<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-nav-view name="pages">
<!-- <div class="bar bar-footer bar-stable player-footer">
  <button class="button button-large button-clear button-dark ion-ios-play play-button"></button>
  <button class="button button-large button-clear button-dark ion-ios-search-strong"></button>
</div> -->
</ion-nav-view>
