<ion-view view-title="Practice">
	<ion-nav-buttons>
		<a class="button button-clear" ng-click="goBack()" class="pull-left">
    		END
  		</a>
	</ion-nav-buttons>
	<ion-content class="has-header">

		<div class="list card no-shadow">
	      <div class="item item-divider">Question 1</div>
	      <div class="item item-body">
	        <div ng-controller="PracticeCtrl"> 
	        	
	        	<!-- NEXT: make the sentence a variable in controllers -->
	          	<div>
	          		<p>Charlie drank his <span class="defn">{{hint}}</span> and ate his cookies.</p>
				</div>

		        <center><a class="button button-icon icon ion-help-circled" ng-click="hint=answer.defn" ng-init="hint='_____'"></a></center>

		        <!-- When click any word, word crosses out and uses wrong-answer class' CSS.
		        NEXT: make on-click of correct answer -> go to next question -->
		        <div class="list card no-shadow">
		        	<ul>
		        		<div class="no-shadow button button-block" ng-repeat="word in possibleAnswers" ng-click="showResult(word); word.clicked = true" ng-class="{'wrong-answer': word.clicked}">
		        			<center><span class="english" ng-class="{'wrong-answer': word.clicked}">{{word.eng}}</span></center>
		        		</div>
		        	</ul>
		        </div>
	          
		        <!-- bottom div with page #
		        NEXT: make page # a progress bar (slider) -->
		        <div >
		              <center>Page 1/10</center>
		        </div>

	        </div>
	      </div>
    	</div>


	</ion-content>
</ion-view>