<ion-view view-title="Practice">
	<ion-nav-buttons>
		<a class="button button-clear" ng-click="goBack()" class="pull-left">
    		<i class="ion-android-arrow-back"></i>
  		</a>
	</ion-nav-buttons>
	<ion-content class="has-header">

		<div class="list card">
	      <div class="item item-divider">Question 1</div>
	      <div class="item item-body">
	        <div ng-controller="PracticeCtrl"> 
	        	
	        	<!-- NEXT: make the sentence a variable in controllers -->
	          	<div>
	          		<p>Charlie drank his {{hint}} and ate his cookies.</p>
				</div>

		        <center><a class="button button-icon icon ion-help-circled" ng-click="hint=answer.defn" ng-init="hint='_____'"></a></center>

		        <div class="list card">
		        	<ul>
		        		<!-- NEXT: add ng-click to this div -->
		        		<div class="item" ng-repeat="word in possibleAnswers" ng-click="showResult(word)">
		        			<center>{{word.eng}}</center>
		        		</div>
		        	</ul>
		        </div>
	          
		        <!-- bottom row of buttons: Back, Page #/#, Next -->
		        <div class="row">
		            <div class="col">
		              <a class="button icon-left ion-arrow-left-a button-clear button-dark" style="float: left;">Back</a>
		            </div>
		            <div class="col">
		              <center>Page 1/10</center>
		            </div>
		            <div class="col">
		              <a class="button icon-right ion-arrow-right-a button-clear button-dark" style="float: right;">Next</a>
		            </div>
		        </div>

	        </div>
	      </div>
    	</div>


	</ion-content>
</ion-view>