<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Signup</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeSignup(); openLogin()" analytics-on analytics-event="Click - Back to Login from Signup" analytics-category="Commands">Back to Login</button>
    </div>
  </ion-header-bar>
  <ion-content>
	<form ng-submit="doSignup()">
	  <div class="list">
	  	<label class="item" ng-if="errorMessage">
          {{errorMessage}}
        </label>
	    <label class="item item-input">
	      <span class="input-label">Email</span>
	      <input type="email" ng-model="signupData.username" required analytics-on analytics-event="Click - Input Username for Signup" analytics-category="Commands">
	    </label>
	    <label class="item item-input">
	      <span class="input-label">Password</span>
	      <input type="password" ng-model="signupData.password" required analytics-on analytics-event="Click - Input Password for Signup" analytics-category="Commands">
	    </label>
	    <label class="item item-input item-select" analytics-on analytics-event="Click - Input Native Langauge for Signup" analytics-category="Commands">
		    <div class="input-label">
		      Native Language
		    </div>
		    <select 
				ng-model="signupData.language" 
				ng-options="language.name for language in listOfLanguages track by language._id"
				required>
			</select>
		</label>
		<label class="item item-input">
	      <span class="input-label">Beta Passphrase</span>
	      <input type="text" ng-model="signupData.betaPassphrase" required analytics-on analytics-event="Click - Input Beta Passphrase for Signup" analytics-category="Commands">
	    </label>
	    <label class="item">
	      <button class="button button-block button-positive" type="submit" analytics-on analytics-event="Click - Submit Signup" analytics-category="Commands">Sign Up</button>
	    </label>
	  </div>
	</form>
	</ion-content>
</ion-modal-view>