<ion-view view-title="Read Out Loud">
  <ion-nav-buttons side="primary">
    <a class="button button-clear button-light button-icon icon ion-ios-information-outline help-button" ng-href="">
    </a>
    <a class="button button-clear button-icon icon ion-ios-gear-outline" ng-href="#/wrapper/settings">
    </a>
  </ion-nav-buttons>
  <ion-content>
    <div class="list search-list">
      <div class="item item-input-inset search-list-item">
        <label class="item-input-wrapper">
          <i class="icon ion-search placeholder-icon"></i>
          <input type="text" placeholder="Search">
        </label>
      </div>
    </div>
    <div class="row" ng-repeat="libraryRow in libraryLayout">
      <div class="col col-33" ng-repeat="book in libraryRow">
        <a class="booktile" ng-if="!book.add_url" ng-href="#/player/read/{{book._id}}">
          <img ng-src="{{book.coverImageUrl}}" width="100%">
          <p> 
            <span class="book-name">
              {{book.title}} 
            </span>
            <br> 
            <span class="author-name">
              {{book.author}}
            </span>
          </p>
        </a>
        <a class="booktile" ng-if="book.add_url" ng-href="#/{{book.add_url}}">
          <img ng-src="{{book.coverImageUrl}}" width="100%">
          <p> 
            <span class="book-name">
              {{book.title}} 
            </span>
            <br> 
            <span class="author-name">
              {{book.author}}
            </span>
          </p>
        </a>
      </div>
    </div>
  </ion-content>
  <!-- <div class="bar bar-footer bar-stable">
    <a class="button button-clear button-icon icon ion-ios-compose-outline pull-right"></a>
  </div> -->
</ion-view>
