<ion-view view-title="Read Out Loud">
  <ion-nav-buttons side="primary">
    <a class="button button-clear button-light button-icon icon ion-ios-information-outline help-button" ng-href="">
    </a>
    <a class="button button-clear button-icon icon ion-ios-gear-outline" ng-href="#/settings">
    </a>
  </ion-nav-buttons>
  <ion-content>
    <div class="row" ng-repeat="libraryRow in libraryLayout">
      <div class="col col-33" ng-repeat="book in libraryRow">
        <span class="booktile" ng-if="!book.add_url">
          <div class="container">
            <button class="button button-clear edit-button" ng-click='redirectToEdit("/editbook/{{book._id}}")'>
                <span class="icon ion-ios-compose edit-icon"></span>
            </button>
            <a ng-href="#/read/{{book._id}}" analytics-on analytics-event="Opened {{book.title}}" analytics-category="Commands">
              <img ng-show="book.coverImageUrl !== undefined" ng-src="{{book.coverImageUrl}}" width="100%">
              <img ng-show="book.coverImageFile !== undefined" ng-src="{{book.coverImageFile._downloadURL}}" width="100%">
            </a>
          </div>
          <p> 
            <span class="book-name">
              {{book.title}} 
            </span>
          </p>
        </span>
        <a class="booktile" ng-if="book.add_url" ng-href="#/{{book.add_url}}">
          <img ng-src="{{book.coverImageUrl}}" width="100%">
          <p> 
            <span class="book-name">
              {{book.title}} 
            </span>
          </p>
        </a>
      </div>
    </div>
  </ion-content>
  <!-- <div class="bar bar-footer bar-stable">
    <a class="button button-clear button-icon icon ion-ios-compose-outline pull-right"></a>
  </div> -->
</ion-view>
