<ion-view view-title="My Words" ng-controller="ReviewCtrl">

  <ion-nav-buttons side="primary">
    <a class="button button-clear button-icon icon ion-ios-gear-outline" ng-href="#/settings" analytics-on analytics-event="Click - Settings" analytics-category="Commands">
    </a>
  </ion-nav-buttons>

  <ion-content>

    <div class="filter-button-bar-container">
      <div class="button-bar filter-button-bar">
        <a class="button button-small button-stable" ng-click="displayAll = true">ALL</a>
      </div>
    </div>

    <div class="spacer">
      <ion-list ng-if="displayAll" can-swipe="true">
          <ion-item ng-repeat="vocab in activeUser.vocabulary" ng-click="showPopup(vocab)" analytics-on analytics-event="Define - {{vocab.answer}}" analytics-category="Commands">
            <span class="english">{{vocab.answer}} </span>
            <ion-option-button class="button-assertive" ng-click="deleteQuestion(vocab); allUniqueVocab.splice($index, 1);" analytics-on analytics-event="Delete - {{vocab.answer}}" analytics-category="Commands">
              Delete
            </ion-option-button>
          </ion-item>
      </ion-list>
    </div>
  </ion-content>
</ion-view>