/* Empty. Add your own CSS if you like */

span.book-name {
	font-size: 12px;
}

span.author-name {
	font-size: 10px;
	color: #666;
}

div.search-list {
	margin-top: 0px;
	margin-bottom: 0px;
}

div.search-list-item {
	border: none;
}

a.booktile {
	text-decoration: none;
	color: black;
}

button.button.button-large.button-clear.play-button{
	font-size: 60px;
	max-height: 100px;
	margin-left: 45%;
}

button.button.button-large.button-clear.define-button{
	font-size: 20px;
	max-height: 100px;
	margin-right: 20px;
	max-width: 50px;
	line-height: 50%;
}

a.button.help-button {
	margin-right: 5px;
}

.show-back-button{
	display: block !important;
}


div.box{
	padding: 20px;
}

div.player-footer{
	height: 100px;
}

div.slider-pager{
	top: 20px;
}

/*div.slider-slides{
	width: 100% !important;
}*/

img.selected{
	border: 2px solid #111;
}

select.settings-select{
	left: 0;
	padding-left: 0;
	margin-left: -5px;
}

a.button.button-full.reset-password{
	margin-top: 0px !important;
	margin-bottom: 0px !important;
}

span.small-text{
	font-size: 12px;
}

.show-button{
	display: block;
}

.hide-button{
	display: none;
}