/* Empty. Add your own CSS if you like */

button.edit-button {
	position: absolute;
	top: 0px;
	right: 0px;
	padding: 0px;
	margin-right: -15px;
	margin-top: -12px;
}

span.edit-icon{
	color: #fff;
	background-color: #444;
	padding: 3px;
	padding-right: 1px;
}

span.book-name {
	font-size: 12px;
}

span.author-name {
	font-size: 10px;
	color: #666;
}

div.search-list {
	margin-top: 0px;
	margin-bottom: 0px;
}

div.search-list-item {
	border: none;
}

span.booktile {
	text-decoration: none;
	color: black;
}

button.button.button-large.button-clear.play-button{
	position: relative;
	font-size: 60px;
	max-height: 100px;
	margin-left: 47%;
}

a.tips-button{
	padding-top: 4vh !important;
}

button.button.button-large.button-clear.pause-button{
	position: relative;
	font-size: 50px;
	max-height: 100px;
	margin-left: 43%;
}

button.button.button-large.button-clear.define-button{
	font-size: 20px;
	max-height: 100px;
	margin-right: 20px;
	max-width: 50px;
	line-height: 50%;
}

a.button.help-button {
	margin-right: 5px;
}

.show-back-button{
	display: block !important;
}

button.redefine-button{
	margin-top: 5px;
	color: #003399 !important;
}


div.box{
	padding: 20px;
	padding-bottom: 70px;
}

div.player-footer{
	height: 100px;
}

div.slider-pager{
	top: 20px;
}

/*div.slider-slides{
	width: 100% !important;
}*/

img.selected{
	border: 2px solid #111;
	opacity: 1;
}

img.unselected{
	border: 2px solid #D8D8D8;
	opacity: 0.7;
}

img.cover-image{
	border: 1px solid #D8D8D8;
}

select.settings-select{
	left: 0;
	padding-left: 0;
	margin-left: -5px;
}

a.button.button-full.reset-password{
	margin-top: 0px !important;
	margin-bottom: 0px !important;
}

span.small-text{
	font-size: 20px;
}

.show-button{
	display: block;
}

.hide-button{
	display: none;
}

div.define-subfooter{
	bottom: 100px;
	height: 70px;
	border-top: 1px solid #ddd;
	border-color: #ddd !important;
}

.col-30.define-icon-row.ng-binding {
  border-right: 1px solid #ddd;
  padding-right: 10px;
  padding-top: 10px;
  margin-top: -10px;
  padding-bottom: 20px;
}

div.translation-text{
	font-size: 16px;
  	font-weight: bold;
	padding-top: 10px;
	color: #003399;
}

button.save-word-button{
	font-size: 16px;
	margin-top: 5px;
	color: #ffc900;
}

span.word{
	font-size: 22px;
	line-height: 170%;
}

div.container{
	position: relative;
	width: 100%;
	height: 100%;
}

span.take-photo {
	font-size: 50px;
}

div.item.camera-div{
	border-bottom: none;
}

div.item.less-padding{
	padding-top: 0px;
	padding-bottom: 0px;
}

.tiny-text{
	font-size: 12px;
}


.page-input-text{
	font-size: 22px;
	line-height: 170%;
	padding: 20px;
	width: 100%;
	white-space: pre-line;
}

ion-item.book-title{
	font-size: 20px;
  	vertical-align: middle;
  	background-color: #f5f5f5;
  	border: 1px solid #ddd;
}

/*Emily's CSS*/

.no-shadow{
	box-shadow: none;
}

/* sub-footer in practice.html */
.practice-button{
	/*padding-top: 5px !important;*/
}

/* English font (blue) */
span.english{
	/*font-variant: small-caps;*/
	font-weight: bold;
	color: #003399;
}

/* L1 font */
span.defn{
	color: red;
	font-style: italic;
	font-weight: bold;
}

/* clicked div button turns opaque */
div.clicked-answer{
	opacity: 0.6;
}

/* red strike-through */
span.wrong-answer{
	text-decoration: line-through;
	color: #FF3300;
}

/* green */
span.right-answer{
	color: #009900;
}

/*gray block for incomplete questions */
.progress-block{
	background: #8EA3A3;
	border: 1px solid
}

/*green block for completed questions */
.done-progress-block{
	background: #009900;
	
}

/*yellow block for current question */
.this-progress-block{
	background: #FFCC00;
}

.filter-button-bar-container {
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 20px;
}

div.spacer{
	margin-top: 20px;
}

span.define-info-text{
	font-size: 14px;
}

.popup-body{
	overflow: visible !important;
}

.selected_word{
	color: #003399;
}

button.prompt-btn{
	border: 0px;
	top: 20px !important;
}

.prompt_text{
	color: #70BF40;
	font-weight: bold;
	padding-bottom: 20px;
}

.bar-balanced{
	background-color: #70BF40 !important;
}

/*.slider-slides{
  display: flex;
  flex-direction: row;
}*/

/*.slider {
height: 200px;  slider height you want 
}*/
/*.slider-slide {
 color: #000;
 background-color: #fff;
 height: 100%;
} */

